ul{
    font-weight: 700;
    color: purple;
}

ul{
    font-weight: 700;
    color: red;
}

/* Specificity(0,0,1) */
h1{
    color: blueviolet;
}


#Hello{
    color: rgb(6, 244, 69);
}

/* Specificty(0,1,0) */
.Hello{ 
    color: crimson;
}

body{
    font-family: cursive;
    font-style: italic;
} 

button{
    font-family: inherit;
    font-style: inherit;
}