img {
  width: 60px;
}
.sedans h2,
.luxury h2,
.suvs h2 {
  font-family: "Big Shoulders Display", sans-serif;
    font-size: 30px;
}
.sedans,
.luxury,
.suvs {
  width: 200px;
  height: 370px;
  padding: 40px;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.sedans {
  background-color: #e28525;
}
.sedans a {
  color: #e28525;
}

.suvs {
  background-color: #016972;
}
.suvs a {
  color: #016972;
}

.luxury {
  background-color: #00403f;
}
.luxury a {
  color: #00403f;
}

a {
  border: solid white 2px;
  background-color: white;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 60px;
  font-weight: 400;
}

.cars-container {
  border-radius: 10px;
  width: max-content;
  height: max-content;
  overflow: hidden;
  display: flex;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover{
    background-color: transparent;
    color: white;
}

@media (max-width:720px) {
    .cars-container{
        flex-direction: column;
    }
    body{
      height: max-content;
      margin-top: 50px;
      margin-bottom: 50px;
    }
}
