h1 {
  text-align: center;
  font-family: "inter";
  font-weight: 400;
  text-shadow: 7px 4px 7px rgba(0, 0, 0, 0.25);
}
.container {
  margin-inline: 24px;
  display: grid;
  gap: 24px;
}
.box {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "inter", sans-serif;
  font-size: 45px;
  border-radius: 5px;
  /* margin-bottom: 24px; */
}

.box1 {
  background-color: #ba56f6;
}
.box2 {
  background-color: #ff6161;
}
.box3 {
  background-color: #505cca;
}
.box4 {
  background-color: #3dad99;
}
.box5 {
  background-color: #be3690;
}

@media (min-width: 720px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .box{
    font-size: 78px;
  }
  h1{
    font-size: 64px;
  }
  .box1,.box5 {
    grid-column-start: span 2;
  }

  .box3 {
    grid-row-start: span 2;
  }
}

@media(min-width: 1440px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .box{
        font-size: 105px;
      }
      h1{
        font-size: 103px;
      }
}
